.navbar {
  font-family: "Montserrat";
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 20px;
  transition: transform 0.3s ease-out;
}

.navbar.hidden {
  transform: translateY(-100%);
}
.logo{
  padding-top: 40px;
  max-width: 200px;
  height: 100px;
}

.header {
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.5rem;
  z-index: 10;
  top: 0;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  padding: 0 1rem;
}

.nav-menu a {
  font-size: 1.2rem;
  font-weight: 600;
}
.nav-menu .ticket {
  background: rgb(37, 32, 63);
  background: linear-gradient(90deg, rgb(54, 47, 92) 0%, rgba(149, 124, 255, 1) 100%);
  border-radius: 3px;
  padding: 0.4rem 1.5rem;
  margin-top: -5px;
}
.header h1 {
  font-weight: 800;
  font-size: 2rem;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1240px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    text-align: center;
    width: 100%;
    height: 100vh;
    transition: 0.3s;
    z-index: -1;

    background: rgba(125, 61, 214, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18.3px);
    -webkit-backdrop-filter: blur(18.3px);
  }
  

  .nav-menu.active {
    left: 0%;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  .nav-menu a {
    font-size: 1.5rem;
  }

  .scroll {
    display: none;
  }
}
